
/* Your CSS Code here. */
 *{
	 margin:0;
	 padding:0;
	 box-sizing:border-box;
 }
.button{

	padding:3px;
	background:none;
    
	outline:none;
	cursor:pointer;
	border-radius:2px;
}
#button-1{
	color:white;
	border:none;
	background-color:#1167b1;
}

#button-1:hover{
	background-color:#2a9df4;
	}
#button-3{
	padding:9px;
	color:white;
	border:none;
	background-color:#045232;
}

#button-3:hover{
	background-color:#2a602e;
	}
#button-4{
	color:white;
	border:none;
	background-color:#b71c1c;
}

#button-4:hover{
	background-color:#ef5350;
	}
#button-5{
	width:100%;
	color:black;
	border:none;
	background-color:yellow;
}

#button-5:hover{
	background-color:lightyellow;
	}
#button-2:hover{
	background-color:ghostwhite;
	}
#button-6{
	
	border:none;
	background-color:skyblue;
}

#button-6:hover{
	background-color:#88bdea;
	}
#button-7{
	
	border:none;
	background-color:ghostwhite;
}

#button-7:hover{
	background-color:white;
	}